# Virtual Environment
ml_env/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
.env
static/uploaded_dataset.csv
static/*.csv

# ML Artifacts (Should be trained fresh or versioned with DVC)
model_artifacts/
model/
*.h5
*.pkl
*.joblib
*.npy

# Documentation & Junk
SCREENS.docx
*.lnk
database.txt
DatasetLink.txt

# OS Files
.DS_Store
Thumbs.db
