# Core Framework
Django>=4.2.0,<5.0
gunicorn
whitenoise
setuptools

# Data Science & ML
pandas
numpy
scikit-learn
xgboost
joblib

# Visualization
matplotlib
seaborn

# Database Support
psycopg2-binary
cryptography

# Utils
python-dateutil
pytz
six
