{% load static %}
<html>
<head>
<title>Early Detection of Alzheimer's Disease</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="white">Early Detection of Alzheimer's Disease Using Cognitive Features A Voting-Based Ensemble Machine Learning Approach</font></center></font>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
		<li><a href="{% url 'LoadDataset' %}"><font size="4" color="black">Load Alzheimer Dataset</font></a></font></li>
	  <li><a href="{% url 'FeaturesExtraction' %}"><font size="4" color="black">Cognitive Features</font></a></font></li>
	   <li><a href="{% url 'RunML' %}"><font size="4" color="black">Run Voting-Based Ensemble ML</font></a></font></li>
	   <li><a href="{% url 'Predict' %}"><font size="4" color="black">Predict Disease</font></a></font></li>
	    <li><a href="{% url 'index' %}"><font size="4" color="black">Logout</font></a></font></li>		
		</center></ul>
		<br class="clearfix" />
	</div>
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>
	<br/>
	<font size="3" color="black"><center>{{ data|safe }}</center></font><br/>
		<img src="data:image/png;base64, {{ img }}" alt="" />

	
</body>
</html>
